.generation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding-top: 21rem;
    padding-bottom: 11rem;
}

.generation h2 {
    width: 100%;
}

.pokemon {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 28%;

    text-decoration: none;
    color: black;

    border: 0.2rem solid lightgray;
    border-radius: 1rem;
}

.pokemon img {
    width: 100px;
}